@model IEnumerable<Finals.Models.Order>

@{
    ViewData["Title"] = "List Of Orders";
}
<div id="list">
    <h1>@ViewData["Title"]</h1>
    <p>
        <a asp-controller="Admin" asp-action="Admin">Log Out</a>
    </p>
</div>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Service.ServType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Service.ServType)
                    </td>
                    <td>
                        <a asp-action="EditForm" asp-route-id="@item.OrderKey">Edit</a> |
                        <a asp-action="DeleteForm" asp-route-id="@item.OrderKey">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>